#root {
  text-align: center;
}

.mainSection {
  background-image: url("./apple.svg");
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 200px;
  color: white;
}

.mainSection > p {
  font-size: 60px;
  font-weight: 600;
}
/* .sessionLength,
.breakLength {
  width: 30% !important;
} */